<div class="social-wrapper">
  <div class="social-icons">
    <div class="social-icons__label">{{ __('Share', 'custom_theme') }}</div>
    <ul class="social-icons__list">
      <li class="social-icons__item">
        <a class="social-icons__icon icon-facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ permalink }}" target="_blank">{{ __('facebook', 'custom_theme') }}</a>
      </li>
      <li class="social-icons__item">
        <a class="social-icons__icon icon-twitter" href="http://www.twitter.com/share?url={{ permalink }}" target="_blank">{{ __('twitter', 'custom_theme') }}</a>
      </li>
      <li class="social-icons__item">
        <a class="social-icons__icon icon-linkedin" href="https://www.linkedin.com/cws/share?url={{ permalink }}" data-href="{{ permalink }}" target="_blank" title="{{ title }}">{{ __('linkedin', 'custom_theme') }}</a>
      </li>
    </ul>
  </div>
  {% if print_icon == 1 %}
  <div class="print-content"><a href="javascript:window.print()">{{ __('Print', 'custom_theme') }}</a></div>
  {% endif %}
</div>
