<div class="block-banner-image {{ component_class }}">
  <div class="{{ banner_image_options }}">
    <div class="banner-image-inner" style="height: {{ banner_height }}px; --banner-image-height: {{ banner_height }}px;">
      {#<div class="parallax-window banner-parallax-window" data-parallax="scroll" data-image-src="{{ banner_image.url }}"></div>#}
      <img class="paralax-image" src="{{ banner_image.url }}" alt="image">
    </div>
  </div>
</div>